a {
    text-decoration: none;
}
// body {
//     font-family: Inter, sans-serif;
// }
.header .trading-view-block {
    padding-top: 18px;
}
.trading-view-block.navigation-wrapper {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.trading-view-block {
    z-index: 100;
    width: 85%;
    max-width: 1250px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 45px;
    display: flex;
    position: relative;

    .navigation-left {
        width: auto;
        justify-content: flex-start;
        align-items: center;
        display: flex;

        .brand {
            width: 163px;
            flex: none;
            margin-right: 45px;
        
            img {
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    
}

.w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

.nav-menu.w-nav-menu li {
    margin-right: 25px;
    list-style: none;
}

.nav-center-wrap {
    display: flex;
    align-items: center;
}

.nav-menu {
    width: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: static;

    li a {
        color: #282876;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
        font-family: Inter, sans-serif;
        /* transition: all .2s; */
        /* display: flex; */
        text-decoration: none;
        line-height: 32px;
    }
    
}

.w-nav-menu {
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
}

.nav-menu li i {
    font-size: 14px;
    color: #282876;
}

.navigation-right {
    width: auto;
    flex: 0 auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;

    .line-button.navbar-button {
        color: #303344;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid #fecf34;
        margin-left: auto;
        margin-right: 20px;
        padding: 10px 35px 10px 40px;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 600;
        border-radius: 32px;
        line-height: 32px;
    }

    .button.navbar-button {
        color: #303344;
        background-color: #fecf34;
        flex: 0 auto;
        font-family: Inter, sans-serif;
        font-weight: 600;
        margin-left: 0;
        margin-right: 0;
        padding: 11px 40px;
        line-height: 32px;
        border-radius: 32px;
    }
}

.hero-section .trading-view-block {
    padding-top: 144px;
}
section.hero-section .trading-view-block {
    padding-bottom: 100px;
}

.contaen {
    h1.title {
        margin-top: 0;
        margin-bottom: 1px;
        font-size: 54px;
        font-weight: 700;
        line-height: 56px;
        font-family: Inter, sans-serif;
    }

    .discrition {
        color: #62667a;
        margin-top: 35px;
        font-family: Inter, sans-serif;
        font-size: 18px;
        margin-bottom: 40px;
    }    
}
img.image.contain {
    max-width: 100%;
    object-fit: fill;
    display: inline-block;
}

.contaen-button {
    padding-top: 19px;

    .button.home-hero-btn {
        background-color: #ffcf30;
        border-radius: 32px;
        color: rgb(9 9 11);
        font-weight: 600;
        font-size: 18px;
        padding: 20px 25px;
        font-family: Inter, sans-serif;
        transition: background-color .2s;
    }
}

.hero-secondary-button {
    color: #1f1f75;
    margin-left: 30px;
    color: #3a3e55;
    font-family: Inter, sans-serif;
    font-size: 18px;

    i {
        padding-right: 7px;
    }
}


.pricing-2-logos.trading-view-block {
    padding: 0;
}

.title h1 {
    font-size: 15px;
    text-align: center;
    color: #303344;
    line-height: 18px;
    margin-bottom: 0;
    font-weight: 400;
}

.pricing-2-logos img:hover {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.pricing-2-logos.trading-view-block {
    max-width: 1000px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 30px;
    padding-bottom: 75px;
    display: grid;
}

section.hero-section .trading-view-block {
    padding-bottom: 170px;
}

.header .trading-view-block {
    padding-top: 18px;
}




.blur-gradient.home-hero-yellow {
    mix-blend-mode: normal;
    display: block;
    top: 0%;
    bottom: -89%;
    left: auto;
    right: 0%;
    overflow-x: hidden;
}

.blur-gradient {
    z-index: 30;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    margin-bottom: 0;
    margin-left: 0%;
    position: absolute;
    top: auto;
    bottom: -37%;
    left: -104%;
    right: auto;
    overflow-x: hidden;
}

img.gradient-image {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-text-fill-color: inherit;
    object-fit: contain;
    background-clip: border-box;
    margin-bottom: 0;
    margin-right: 0;
    position: static;
    top: -67px;
    overflow-x: hidden;
}

.blur-gradient.home-hero-pink {
    width: 80%;
    -webkit-text-fill-color: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    display: block;
    top: -20%;
    bottom: auto;
    left: auto;
    right: -25%;
    overflow-x: hidden;
}

.title {
    position: relative;
    z-index: 100;
}

body {
    overflow-x: hidden;
}

.navigation-right .line-button:hover {
    background-color: #fecf34;
    transition: background-color .4s;
}

.button.navbar-button.navbtn.w-button:hover {
    background-color: #f6c112;
    transition: background-color .3s;
}
.button.home-hero-btn.w-button:hover {
    background-color: #f6c112;
    transition: background-color .3s;
}
